Test Automation/simulator/dtds/Scheduling.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
  COPYRIGHT (c) 1998-2005 Cameron Systems Pty Ltd. All Rights Reserved.

  Notes:
    * The syntax for hour, minute, dayOfWeek, etc is similar to the Unix cron
      standard.
      In other words, use a comma between multiple values and a hyphen to
      indicate a range.
      1-7 represents Sunday to Saturday. Hour is 0-23.
      Minute is 0-59. Day of month is 1-31. Month is 1-12. Year is a 4 digit
      number - eg 2003.
      The special value of -1 can be used to indicate "any" value in the same
      way that '*' is used in cron.

    * Note that a time can be specified in the "Include" and "Exclude" elements
      either as attributes or as nested "Date" elements.

    * Task, Schedule and EventList elements can all be given an "id" attribute
      which should be unique and can be used to refer to those elements
      from within other elements. References are made using the "refid"
      attribute. This is similar to the model used in Ant.

    * Note that Schedule can contain another Schedule and EventList can
      contain another EventList. This allows these events to be built on top
      of each other which can be used to factor out common data, simplifying
      maintenance.

    * Time zones can be any of the standard Java time zones. In addition,
      time zones can be defined with reference to GMT, eg GMT+10. See
      JavaDoc on java.util.TimeZone.
      If no time zone is specified, the default time zone is implied.
      There is also a special ANY_TIME_ZONE value which is useful for
      specifying exclusion dates.
      A list of the current standard Java time zones appears below. It
      includes the special CameronFIX "ANY_TIME_ZONE".
      Each time-zone name is prefixed with the offset from Greenwich Mean
      Time (GMT) in hours:minutes (ignoring daylight saving time).
      This prefix is not part of the name - it is just there to make it
      easier for you to find the time-zone name you are looking for.
      You should avoid using the three character time zone names. Even though
      they usually will work, they are deprecated because they can be ambiguous.

              *     ANY_TIME_ZONE
          GMT-11:00 MIT
          GMT-11:00 Pacific/Apia
          GMT-11:00 Pacific/Niue
          GMT-11:00 Pacific/Pago_Pago
          GMT-10:00 America/Adak
          GMT-10:00 HST
          GMT-10:00 Pacific/Fakaofo
          GMT-10:00 Pacific/Honolulu
          GMT-10:00 Pacific/Rarotonga
          GMT-10:00 Pacific/Tahiti
          GMT-09:30 Pacific/Marquesas
          GMT-09:00 AST
          GMT-09:00 America/Anchorage
          GMT-09:00 Pacific/Gambier
          GMT-08:00 America/Los_Angeles
          GMT-08:00 America/Tijuana
          GMT-08:00 America/Vancouver
          GMT-08:00 PST
          GMT-08:00 Pacific/Pitcairn
          GMT-07:00 America/Dawson_Creek
          GMT-07:00 America/Denver
          GMT-07:00 America/Edmonton
          GMT-07:00 America/Mazatlan
          GMT-07:00 America/Phoenix
          GMT-07:00 MST
          GMT-07:00 PNT
          GMT-06:00 America/Belize
          GMT-06:00 America/Chicago
          GMT-06:00 America/Costa_Rica
          GMT-06:00 America/El_Salvador
          GMT-06:00 America/Guatemala
          GMT-06:00 America/Managua
          GMT-06:00 America/Mexico_City
          GMT-06:00 America/Regina
          GMT-06:00 America/Tegucigalpa
          GMT-06:00 America/Winnipeg
          GMT-06:00 CST
          GMT-06:00 Pacific/Easter
          GMT-06:00 Pacific/Galapagos
          GMT-05:00 America/Bogota
          GMT-05:00 America/Cayman
          GMT-05:00 America/Grand_Turk
          GMT-05:00 America/Guayaquil
          GMT-05:00 America/Havana
          GMT-05:00 America/Indianapolis
          GMT-05:00 America/Jamaica
          GMT-05:00 America/Lima
          GMT-05:00 America/Montreal
          GMT-05:00 America/Nassau
          GMT-05:00 America/New_York
          GMT-05:00 America/Panama
          GMT-05:00 America/Port-au-Prince
          GMT-05:00 America/Porto_Acre
          GMT-05:00 America/Rio_Branco
          GMT-05:00 EST
          GMT-05:00 IET
          GMT-04:00 America/Anguilla
          GMT-04:00 America/Antigua
          GMT-04:00 America/Aruba
          GMT-04:00 America/Asuncion
          GMT-04:00 America/Barbados
          GMT-04:00 America/Caracas
          GMT-04:00 America/Cuiaba
          GMT-04:00 America/Curacao
          GMT-04:00 America/Dominica
          GMT-04:00 America/Grenada
          GMT-04:00 America/Guadeloupe
          GMT-04:00 America/Guyana
          GMT-04:00 America/Halifax
          GMT-04:00 America/La_Paz
          GMT-04:00 America/Manaus
          GMT-04:00 America/Martinique
          GMT-04:00 America/Montserrat
          GMT-04:00 America/Port_of_Spain
          GMT-04:00 America/Puerto_Rico
          GMT-04:00 America/Santiago
          GMT-04:00 America/Santo_Domingo
          GMT-04:00 America/St_Kitts
          GMT-04:00 America/St_Lucia
          GMT-04:00 America/St_Thomas
          GMT-04:00 America/St_Vincent
          GMT-04:00 America/Thule
          GMT-04:00 America/Tortola
          GMT-04:00 Antarctica/Palmer
          GMT-04:00 Atlantic/Bermuda
          GMT-04:00 Atlantic/Stanley
          GMT-04:00 PRT
          GMT-03:30 America/St_Johns
          GMT-03:30 CNT
          GMT-03:00 AGT
          GMT-03:00 America/Buenos_Aires
          GMT-03:00 America/Cayenne
          GMT-03:00 America/Fortaleza
          GMT-03:00 America/Godthab
          GMT-03:00 America/Miquelon
          GMT-03:00 America/Montevideo
          GMT-03:00 America/Paramaribo
          GMT-03:00 America/Sao_Paulo
          GMT-03:00 BET
          GMT-02:00 America/Noronha
          GMT-02:00 Atlantic/South_Georgia
          GMT-01:00 America/Scoresbysund
          GMT-01:00 Atlantic/Azores
          GMT-01:00 Atlantic/Cape_Verde
          GMT-01:00 Atlantic/Jan_Mayen
          GMT       Africa/Abidjan
          GMT       Africa/Accra
          GMT       Africa/Banjul
          GMT       Africa/Bissau
          GMT       Africa/Casablanca
          GMT       Africa/Conakry
          GMT       Africa/Dakar
          GMT       Africa/Freetown
          GMT       Africa/Lome
          GMT       Africa/Monrovia
          GMT       Africa/Nouakchott
          GMT       Africa/Ouagadougou
          GMT       Africa/Sao_Tome
          GMT       Africa/Timbuktu
          GMT       Atlantic/Canary
          GMT       Atlantic/Faeroe
          GMT       Atlantic/Reykjavik
          GMT       Atlantic/St_Helena
          GMT       Europe/Dublin
          GMT       Europe/Lisbon
          GMT       Europe/London
          GMT       GMT
          GMT       UTC
          GMT       WET
          GMT+01:00 Africa/Algiers
          GMT+01:00 Africa/Bangui
          GMT+01:00 Africa/Douala
          GMT+01:00 Africa/Kinshasa
          GMT+01:00 Africa/Lagos
          GMT+01:00 Africa/Libreville
          GMT+01:00 Africa/Luanda
          GMT+01:00 Africa/Malabo
          GMT+01:00 Africa/Ndjamena
          GMT+01:00 Africa/Niamey
          GMT+01:00 Africa/Porto-Novo
          GMT+01:00 Africa/Tunis
          GMT+01:00 Africa/Windhoek
          GMT+01:00 ECT
          GMT+01:00 Europe/Amsterdam
          GMT+01:00 Europe/Andorra
          GMT+01:00 Europe/Belgrade
          GMT+01:00 Europe/Berlin
          GMT+01:00 Europe/Brussels
          GMT+01:00 Europe/Budapest
          GMT+01:00 Europe/Copenhagen
          GMT+01:00 Europe/Gibraltar
          GMT+01:00 Europe/Luxembourg
          GMT+01:00 Europe/Madrid
          GMT+01:00 Europe/Malta
          GMT+01:00 Europe/Monaco
          GMT+01:00 Europe/Oslo
          GMT+01:00 Europe/Paris
          GMT+01:00 Europe/Prague
          GMT+01:00 Europe/Rome
          GMT+01:00 Europe/Stockholm
          GMT+01:00 Europe/Tirane
          GMT+01:00 Europe/Vaduz
          GMT+01:00 Europe/Vienna
          GMT+01:00 Europe/Warsaw
          GMT+01:00 Europe/Zurich
          GMT+02:00 ART
          GMT+02:00 Africa/Blantyre
          GMT+02:00 Africa/Bujumbura
          GMT+02:00 Africa/Cairo
          GMT+02:00 Africa/Gaborone
          GMT+02:00 Africa/Harare
          GMT+02:00 Africa/Johannesburg
          GMT+02:00 Africa/Kigali
          GMT+02:00 Africa/Lubumbashi
          GMT+02:00 Africa/Lusaka
          GMT+02:00 Africa/Maputo
          GMT+02:00 Africa/Maseru
          GMT+02:00 Africa/Mbabane
          GMT+02:00 Africa/Tripoli
          GMT+02:00 Asia/Amman
          GMT+02:00 Asia/Beirut
          GMT+02:00 Asia/Damascus
          GMT+02:00 Asia/Jerusalem
          GMT+02:00 Asia/Nicosia
          GMT+02:00 CAT
          GMT+02:00 EET
          GMT+02:00 Europe/Athens
          GMT+02:00 Europe/Bucharest
          GMT+02:00 Europe/Chisinau
          GMT+02:00 Europe/Helsinki
          GMT+02:00 Europe/Istanbul
          GMT+02:00 Europe/Kaliningrad
          GMT+02:00 Europe/Kiev
          GMT+02:00 Europe/Minsk
          GMT+02:00 Europe/Riga
          GMT+02:00 Europe/Simferopol
          GMT+02:00 Europe/Sofia
          GMT+02:00 Europe/Tallinn
          GMT+02:00 Europe/Vilnius
          GMT+03:00 Africa/Addis_Ababa
          GMT+03:00 Africa/Asmera
          GMT+03:00 Africa/Dar_es_Salaam
          GMT+03:00 Africa/Djibouti
          GMT+03:00 Africa/Kampala
          GMT+03:00 Africa/Khartoum
          GMT+03:00 Africa/Mogadishu
          GMT+03:00 Africa/Nairobi
          GMT+03:00 Asia/Aden
          GMT+03:00 Asia/Baghdad
          GMT+03:00 Asia/Bahrain
          GMT+03:00 Asia/Kuwait
          GMT+03:00 Asia/Qatar
          GMT+03:00 Asia/Riyadh
          GMT+03:00 EAT
          GMT+03:00 Europe/Moscow
          GMT+03:00 Indian/Antananarivo
          GMT+03:00 Indian/Comoro
          GMT+03:00 Indian/Mayotte
          GMT+03:30 Asia/Tehran
          GMT+03:30 MET
          GMT+04:00 Asia/Aqtau
          GMT+04:00 Asia/Baku
          GMT+04:00 Asia/Dubai
          GMT+04:00 Asia/Muscat
          GMT+04:00 Asia/Tbilisi
          GMT+04:00 Asia/Yerevan
          GMT+04:00 Europe/Samara
          GMT+04:00 Indian/Mahe
          GMT+04:00 Indian/Mauritius
          GMT+04:00 Indian/Reunion
          GMT+04:00 NET
          GMT+04:30 Asia/Kabul
          GMT+05:00 Asia/Aqtobe
          GMT+05:00 Asia/Ashgabat
          GMT+05:00 Asia/Ashkhabad
          GMT+05:00 Asia/Bishkek
          GMT+05:00 Asia/Dushanbe
          GMT+05:00 Asia/Karachi
          GMT+05:00 Asia/Tashkent
          GMT+05:00 Asia/Yekaterinburg
          GMT+05:00 Indian/Chagos
          GMT+05:00 Indian/Kerguelen
          GMT+05:00 Indian/Maldives
          GMT+05:00 PLT
          GMT+05:30 Asia/Calcutta
          GMT+05:30 IST
          GMT+05:45 Asia/Katmandu
          GMT+06:00 Antarctica/Mawson
          GMT+06:00 Asia/Almaty
          GMT+06:00 Asia/Colombo
          GMT+06:00 Asia/Dacca
          GMT+06:00 Asia/Dhaka
          GMT+06:00 Asia/Novosibirsk
          GMT+06:00 Asia/Thimbu
          GMT+06:00 Asia/Thimphu
          GMT+06:00 BST
          GMT+06:30 Asia/Rangoon
          GMT+06:30 Indian/Cocos
          GMT+07:00 Asia/Bangkok
          GMT+07:00 Asia/Jakarta
          GMT+07:00 Asia/Krasnoyarsk
          GMT+07:00 Asia/Phnom_Penh
          GMT+07:00 Asia/Saigon
          GMT+07:00 Asia/Vientiane
          GMT+07:00 Indian/Christmas
          GMT+07:00 VST
          GMT+08:00 Antarctica/Casey
          GMT+08:00 Asia/Brunei
          GMT+08:00 Asia/Hong_Kong
          GMT+08:00 Asia/Irkutsk
          GMT+08:00 Asia/Kuala_Lumpur
          GMT+08:00 Asia/Macao
          GMT+08:00 Asia/Manila
          GMT+08:00 Asia/Shanghai
          GMT+08:00 Asia/Singapore
          GMT+08:00 Asia/Taipei
          GMT+08:00 Asia/Ujung_Pandang
          GMT+08:00 Asia/Ulaanbaatar
          GMT+08:00 Asia/Ulan_Bator
          GMT+08:00 Australia/Perth
          GMT+08:00 CTT
          GMT+09:00 Asia/Jayapura
          GMT+09:00 Asia/Pyongyang
          GMT+09:00 Asia/Seoul
          GMT+09:00 Asia/Tokyo
          GMT+09:00 Asia/Yakutsk
          GMT+09:00 JST
          GMT+09:00 Pacific/Palau
          GMT+09:30 ACT
          GMT+09:30 Australia/Adelaide
          GMT+09:30 Australia/Broken_Hill
          GMT+09:30 Australia/Darwin
          GMT+10:00 AET
          GMT+10:00 Antarctica/DumontDUrville
          GMT+10:00 Asia/Vladivostok
          GMT+10:00 Australia/Brisbane
          GMT+10:00 Australia/Hobart
          GMT+10:00 Australia/Sydney
          GMT+10:00 Pacific/Guam
          GMT+10:00 Pacific/Port_Moresby
          GMT+10:00 Pacific/Saipan
          GMT+10:00 Pacific/Truk
          GMT+10:30 Australia/Lord_Howe
          GMT+11:00 Asia/Magadan
          GMT+11:00 Pacific/Efate
          GMT+11:00 Pacific/Guadalcanal
          GMT+11:00 Pacific/Kosrae
          GMT+11:00 Pacific/Noumea
          GMT+11:00 Pacific/Ponape
          GMT+11:00 SST
          GMT+11:30 Pacific/Norfolk
          GMT+12:00 Antarctica/McMurdo
          GMT+12:00 Asia/Anadyr
          GMT+12:00 Asia/Kamchatka
          GMT+12:00 NST
          GMT+12:00 Pacific/Auckland
          GMT+12:00 Pacific/Fiji
          GMT+12:00 Pacific/Funafuti
          GMT+12:00 Pacific/Majuro
          GMT+12:00 Pacific/Nauru
          GMT+12:00 Pacific/Tarawa
          GMT+12:00 Pacific/Wake
          GMT+12:00 Pacific/Wallis
          GMT+12:45 Pacific/Chatham
          GMT+13:00 Pacific/Enderbury
          GMT+13:00 Pacific/Tongatapu
          GMT+14:00 Pacific/Kiritimati

-->
<!ELEMENT Scheduling ((Task | Schedule | EventList)*)>
<!ATTLIST Scheduling
          active ( true | false ) "true"
>

  <!ELEMENT Task ANY>
  <!--
    Task must have either an id or a refid
  -->
  <!ATTLIST Task
            class              CDATA #IMPLIED
            id                 CDATA #IMPLIED
            refid              CDATA #IMPLIED
  >

  <!ELEMENT Schedule ((Schedule | Include | Exclude)*)>
  <!ATTLIST Schedule
            id                 CDATA #IMPLIED
            refid              CDATA #IMPLIED
            timeZone           CDATA #IMPLIED
  >

    <!ELEMENT Include (Date*)>
    <!ATTLIST Include
              hour             CDATA #IMPLIED
              minute           CDATA #IMPLIED
              dayOfWeek        CDATA #IMPLIED
              dayOfMonth       CDATA #IMPLIED
              month            CDATA #IMPLIED
              year             CDATA #IMPLIED
    >

    <!ELEMENT Exclude (Date*)>
    <!ATTLIST Exclude
              hour             CDATA #IMPLIED
              minute           CDATA #IMPLIED
              dayOfWeek        CDATA #IMPLIED
              dayOfMonth       CDATA #IMPLIED
              month            CDATA #IMPLIED
              year             CDATA #IMPLIED
    >

      <!ELEMENT Date EMPTY>
      <!ATTLIST Date
                hour             CDATA #IMPLIED
                minute           CDATA #IMPLIED
                dayOfWeek        CDATA #IMPLIED
                dayOfMonth       CDATA #IMPLIED
                month            CDATA #IMPLIED
                year             CDATA #IMPLIED
      >

  <!ELEMENT EventList ((EventList | Event)*)>
  <!ATTLIST EventList
            id                 CDATA #IMPLIED
            refid              CDATA #IMPLIED
  >

    <!ELEMENT Event (Task, Schedule) >
