Application/Prana.Client/Prana.SecurityMasterNew/Service References/CentralSMService/CentralSMService55.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56343/CentralSMService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Prana.BusinessObjects.SecurityMasterBusinessObjects" />
  <xs:import schemaLocation="http://localhost:56343/CentralSMService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56343/CentralSMService?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Prana.BusinessObjects.Classes.SecurityMasterBusinessObjects" />
  <xs:element name="GetSecMasterDataCentralSM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Prana.BusinessObjects.SecurityMasterBusinessObjects" minOccurs="0" name="secMasterReqObj" nillable="true" type="q1:SecMasterRequestObj" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityCallback" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecMasterDataCentralSMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenericSMPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PricingSource" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fields" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Prana.BusinessObjects.SecurityMasterBusinessObjects" minOccurs="0" name="secMasterReqObj" nillable="true" type="q3:SecMasterRequestObj" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityCallback" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="isGetDataFromCacheOrDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenericSMPriceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSecMasterDataCentralSM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Prana.BusinessObjects.SecurityMasterBusinessObjects" minOccurs="0" name="secMasterData" nillable="true" type="q4:ArrayOfSecMasterBaseObj" />
        <xs:element minOccurs="0" name="ResquestID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityCallback" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSecMasterDataCentralSMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Prana.BusinessObjects.Classes.SecurityMasterBusinessObjects" minOccurs="0" name="symbolLookupReqObj" nillable="true" type="q5:SymbolLookupRequestObject" />
        <xs:element minOccurs="0" name="securityCallback" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSecurityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFutureRootData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="securityCallback" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFutureRootDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFutureRootData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFutureRootDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityCallback" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericeSendDataToCSM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityCallback" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericeSendDataToCSMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SecurityValidationResp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Prana.BusinessObjects.SecurityMasterBusinessObjects" minOccurs="0" name="securityData" nillable="true" type="q6:SecMasterBaseObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenricPricingResp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pricingTable" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="pricingSuccess" type="xs:boolean" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SymbolLookUpSearchDataResp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SymbolsData" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Prana.BusinessObjects.Classes.SecurityMasterBusinessObjects" minOccurs="0" name="symbolLookupRequestObject" nillable="true" type="q7:SymbolLookupRequestObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFutureRootDataLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FutureRootData" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FutureRootDataResp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="futureData" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericCentralSMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="responseType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>