Application/Prana.Client/Prana.SecurityMasterNew/Service References/CentralSMService/CentralSMService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Prana.BusinessObjects.Classes.SecurityMasterBusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Prana.BusinessObjects.Classes.SecurityMasterBusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SymbolLookupRequestObject">
    <xs:sequence>
      <xs:element name="_BBGID" nillable="true" type="xs:string" />
      <xs:element name="_UDAAsset" nillable="true" type="xs:string" />
      <xs:element name="_UDACountry" nillable="true" type="xs:string" />
      <xs:element name="_UDASector" nillable="true" type="xs:string" />
      <xs:element name="_UDASecurityType" nillable="true" type="xs:string" />
      <xs:element name="_UDASubSector" nillable="true" type="xs:string" />
      <xs:element name="_bloombergSymbol" nillable="true" type="xs:string" />
      <xs:element name="_cUSIPSymbol" nillable="true" type="xs:string" />
      <xs:element name="_endIndex" type="xs:int" />
      <xs:element name="_idcoOptionSymbol" nillable="true" type="xs:string" />
      <xs:element name="_isFullScan" type="xs:boolean" />
      <xs:element name="_isSecApproved" type="xs:boolean" />
      <xs:element name="_isinSymbol" nillable="true" type="xs:string" />
      <xs:element name="_name" nillable="true" type="xs:string" />
      <xs:element name="_opraOptionSymbol" nillable="true" type="xs:string" />
      <xs:element name="_osiOptionSymbol" nillable="true" type="xs:string" />
      <xs:element name="_requestID" nillable="true" type="xs:string" />
      <xs:element name="_reutersSymbol" nillable="true" type="xs:string" />
      <xs:element name="_sEDOLSymbol" nillable="true" type="xs:string" />
      <xs:element name="_startIndex" type="xs:int" />
      <xs:element name="_tickersymbol" nillable="true" type="xs:string" />
      <xs:element name="_underlying" nillable="true" type="xs:string" />
      <xs:element name="_userID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SymbolLookupRequestObject" nillable="true" type="tns:SymbolLookupRequestObject" />
</xs:schema>