Application/Prana.Client/Prana.SecurityMasterNew/Service References/CentralSMService/CentralSMService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Prana.Global" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Prana.Global" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PranaAppException">
    <xs:sequence>
      <xs:element name="_defaultMessage" nillable="true" type="xs:string" />
      <xs:element name="_message" nillable="true" type="xs:string" />
      <xs:element name="_stackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PranaAppException" nillable="true" type="tns:PranaAppException" />
</xs:schema>