Application/Prana.Client/Prana.IM/Web References/PranaIMService/NIM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TestSocketConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestSocketConnectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="TestDatabaseConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestDatabaseConnectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddUser2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="unitID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="omsUserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUser2Result" type="tns:NimCodeE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="NimCodeE">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="Error" />
          <s:enumeration value="RoomAlreadyExists" />
          <s:enumeration value="UserAlreadyExists" />
          <s:enumeration value="ImfAlreadyExists" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="unitID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="omsUserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="friendlyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserResult" type="tns:NimCodeE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="unitID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="omsUserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lockUser" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LockUserResult" type="tns:NimCodeE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockUserToggle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="unitID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="omsUserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockUserToggleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LockUserToggleResult" type="tns:NimCodeE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="unitID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="omsUserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="unitID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="omsUserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserUnits">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserUnitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserUnitsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestSocketConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestSocketConnection" />
  </wsdl:message>
  <wsdl:message name="TestSocketConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestSocketConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="TestDatabaseConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestDatabaseConnection" />
  </wsdl:message>
  <wsdl:message name="TestDatabaseConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestDatabaseConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="AddUser2SoapIn">
    <wsdl:part name="parameters" element="tns:AddUser2" />
  </wsdl:message>
  <wsdl:message name="AddUser2SoapOut">
    <wsdl:part name="parameters" element="tns:AddUser2Response" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="LockUserSoapIn">
    <wsdl:part name="parameters" element="tns:LockUser" />
  </wsdl:message>
  <wsdl:message name="LockUserSoapOut">
    <wsdl:part name="parameters" element="tns:LockUserResponse" />
  </wsdl:message>
  <wsdl:message name="LockUserToggleSoapIn">
    <wsdl:part name="parameters" element="tns:LockUserToggle" />
  </wsdl:message>
  <wsdl:message name="LockUserToggleSoapOut">
    <wsdl:part name="parameters" element="tns:LockUserToggleResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserUnitsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserUnits" />
  </wsdl:message>
  <wsdl:message name="GetUserUnitsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserUnitsResponse" />
  </wsdl:message>
  <wsdl:portType name="NIMSoap">
    <wsdl:operation name="TestSocketConnection">
      <wsdl:input message="tns:TestSocketConnectionSoapIn" />
      <wsdl:output message="tns:TestSocketConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConnection">
      <wsdl:input message="tns:TestDatabaseConnectionSoapIn" />
      <wsdl:output message="tns:TestDatabaseConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser2">
      <wsdl:input message="tns:AddUser2SoapIn" />
      <wsdl:output message="tns:AddUser2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockUser">
      <wsdl:input message="tns:LockUserSoapIn" />
      <wsdl:output message="tns:LockUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockUserToggle">
      <wsdl:input message="tns:LockUserToggleSoapIn" />
      <wsdl:output message="tns:LockUserToggleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input message="tns:GetUserNameSoapIn" />
      <wsdl:output message="tns:GetUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserUnits">
      <wsdl:input message="tns:GetUserUnitsSoapIn" />
      <wsdl:output message="tns:GetUserUnitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NIMSoap" type="tns:NIMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestSocketConnection">
      <soap:operation soapAction="http://tempuri.org/TestSocketConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConnection">
      <soap:operation soapAction="http://tempuri.org/TestDatabaseConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser2">
      <soap:operation soapAction="http://tempuri.org/AddUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockUser">
      <soap:operation soapAction="http://tempuri.org/LockUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockUserToggle">
      <soap:operation soapAction="http://tempuri.org/LockUserToggle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://tempuri.org/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserUnits">
      <soap:operation soapAction="http://tempuri.org/GetUserUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NIMSoap12" type="tns:NIMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestSocketConnection">
      <soap12:operation soapAction="http://tempuri.org/TestSocketConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConnection">
      <soap12:operation soapAction="http://tempuri.org/TestDatabaseConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser2">
      <soap12:operation soapAction="http://tempuri.org/AddUser2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockUser">
      <soap12:operation soapAction="http://tempuri.org/LockUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockUserToggle">
      <soap12:operation soapAction="http://tempuri.org/LockUserToggle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://tempuri.org/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserUnits">
      <soap12:operation soapAction="http://tempuri.org/GetUserUnits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NIM">
    <wsdl:port name="NIMSoap" binding="tns:NIMSoap">
      <soap:address location="http://192.168.1.245/NIM/NIM.asmx" />
    </wsdl:port>
    <wsdl:port name="NIMSoap12" binding="tns:NIMSoap12">
      <soap12:address location="http://192.168.1.245/NIM/NIM.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>